<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span rowActions [disabled]="leftDisabled()">
        <button matIconButton (click)="onEdit(user)" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
      </span>
      {{ user.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <app-badge [type]="user.role.toLowerCase()" [label]="user.role" />
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <app-badge [type]="user.status.toLowerCase()" [label]="user.status" />
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{ user.lastUpdated }}
      <span rowActions [rowActions]="variant()" [disabled]="rightDisabled()">
        <button matIconButton (click)="onView(user)" title="View">
          <mat-icon>visibility</mat-icon>
        </button>
        <button matIconButton (click)="onEdit(user)" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton (click)="onDelete(user)" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
